In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("tips.csv")
df.info

<bound method DataFrame.info of      total_bill   tip  gender smoker   day    time  size  price_per_person  \
0         16.99  1.01  Female     No   Sun  Dinner     2              8.49
1         10.34  1.66    Male     No   Sun  Dinner     3              3.45
2         21.01  3.50    Male     No   Sun  Dinner     3              7.00
3         23.68  3.31    Male     No   Sun  Dinner     2             11.84
4         24.59  3.61  Female     No   Sun  Dinner     4              6.15
..          ...   ...     ...    ...   ...     ...   ...               ...
239       29.03  5.92    Male     No   Sat  Dinner     3              9.68
240       27.18  2.00  Female    Yes   Sat  Dinner     2             13.59
241       22.67  2.00    Male    Yes   Sat  Dinner     2             11.34
242       17.82  1.75    Male     No   Sat  Dinner     2              8.91
243       18.78  3.00  Female     No  Thur  Dinner     2              9.39

             Payer Name     CC Number Payment ID
0    Christy Cunningham  3.560330e+15    Sun2959
1        Douglas Tucker  4.478070e+15    Sun4608
2        Travis Walters  6.011810e+15    Sun4458
3      Nathaniel Harris  4.676140e+15    Sun5260
4          Tonya Carter  4.832730e+15    Sun2251
..                  ...           ...        ...
239       Michael Avila  5.296070e+15    Sat2657
240      Monica Sanders  3.506810e+15    Sat1766
241          Keith Wong  6.011890e+15    Sat3880
242        Dennis Dixon  4.375220e+12      Sat17
243     Michelle Hardin  3.511450e+15    Thur672

[244 rows x 11 columns]>

In [5]:
print(df.tail(3))

     total_bill   tip  gender smoker   day    time  size  price_per_person  \
241       22.67  2.00    Male    Yes   Sat  Dinner     2             11.34
242       17.82  1.75    Male     No   Sat  Dinner     2              8.91
243       18.78  3.00  Female     No  Thur  Dinner     2              9.39

          Payer Name     CC Number Payment ID
241       Keith Wong  6.011890e+15    Sat3880
242     Dennis Dixon  4.375220e+12      Sat17
243  Michelle Hardin  3.511450e+15    Thur672

In [7]:
#adding new colum
df["tip_percentage"] = np.round(100 * df['tip']/df['total_bill'],2)
df.head()

,total_bill,tip,gender,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,tip_percentage
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3.560330e+15,Sun2959,5.94
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4.478070e+15,Sun4608,16.05
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6.011810e+15,Sun4458,16.66
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4.676140e+15,Sun5260,13.98
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4.832730e+15,Sun2251,14.68

In [8]:
#drop a coloum
df = df.drop("tip_percentage", axis = 1)#axis =1 means drop a column
#df.drop("tip_percentage", axis =1 , inplace = True) # another syntax
df.head()

,total_bill,tip,gender,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3.560330e+15,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4.478070e+15,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6.011810e+15,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4.676140e+15,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4.832730e+15,Sun2251

In [14]:
#set a coloumn as index colum
df = df.set_index("Payment ID")
df.head()

#reset 
df = df.reset_index()
df.head()

,Payment ID,total_bill,tip,gender,smoker,day,time,size,price_per_person,Payer Name,CC Number
0,Sun2959,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3.560330e+15
1,Sun4608,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4.478070e+15
2,Sun4458,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6.011810e+15
3,Sun5260,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4.676140e+15
4,Sun2251,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4.832730e+15

In [17]:
#conditional filtering
#print(df['total_bill']<30) #gives boolean values

print(df[df['total_bill']<30])


print(df[(df['gender'] == "Male") & (df['total_bill']<30) ])

    Payment ID  total_bill   tip  gender smoker   day    time  size  \
0      Sun2959       16.99  1.01  Female     No   Sun  Dinner     2
1      Sun4608       10.34  1.66    Male     No   Sun  Dinner     3
2      Sun4458       21.01  3.50    Male     No   Sun  Dinner     3
3      Sun5260       23.68  3.31    Male     No   Sun  Dinner     2
4      Sun2251       24.59  3.61  Female     No   Sun  Dinner     4
..         ...         ...   ...     ...    ...   ...     ...   ...
239    Sat2657       29.03  5.92    Male     No   Sat  Dinner     3
240    Sat1766       27.18  2.00  Female    Yes   Sat  Dinner     2
241    Sat3880       22.67  2.00    Male    Yes   Sat  Dinner     2
242      Sat17       17.82  1.75    Male     No   Sat  Dinner     2
243    Thur672       18.78  3.00  Female     No  Thur  Dinner     2

     price_per_person          Payer Name     CC Number
0                8.49  Christy Cunningham  3.560330e+15
1                3.45      Douglas Tucker  4.478070e+15
2                7.00      Travis Walters  6.011810e+15
3               11.84    Nathaniel Harris  4.676140e+15
4                6.15        Tonya Carter  4.832730e+15
..                ...                 ...           ...
239              9.68       Michael Avila  5.296070e+15
240             13.59      Monica Sanders  3.506810e+15
241             11.34          Keith Wong  6.011890e+15
242              8.91        Dennis Dixon  4.375220e+12
243              9.39     Michelle Hardin  3.511450e+15

[212 rows x 11 columns]

In [22]:

print(df[(df['gender'] == "Male") & (df['total_bill']<30) ])

0      False
1       True
2       True
3       True
4      False
       ...
239     True
240    False
241     True
242     True
243    False
Name: gender, Length: 244, dtype: bool
    Payment ID  total_bill   tip gender smoker  day    time  size  \
1      Sun4608       10.34  1.66   Male     No  Sun  Dinner     3
2      Sun4458       21.01  3.50   Male     No  Sun  Dinner     3
3      Sun5260       23.68  3.31   Male     No  Sun  Dinner     2
5      Sun9679       25.29  4.71   Male     No  Sun  Dinner     4
6      Sun5985        8.77  2.00   Male     No  Sun  Dinner     2
..         ...         ...   ...    ...    ...  ...     ...   ...
235    Sat4615       10.07  1.25   Male     No  Sat  Dinner     2
236    Sat5032       12.60  1.00   Male    Yes  Sat  Dinner     2
239    Sat2657       29.03  5.92   Male     No  Sat  Dinner     3
241    Sat3880       22.67  2.00   Male    Yes  Sat  Dinner     2
242      Sat17       17.82  1.75   Male     No  Sat  Dinner     2

     price_per_person          Payer Name     CC Number
1                3.45      Douglas Tucker  4.478070e+15
2                7.00      Travis Walters  6.011810e+15
3               11.84    Nathaniel Harris  4.676140e+15
5                6.32          Erik Smith  2.131400e+14
6                4.38  Kristopher Johnson  2.223730e+15
..                ...                 ...           ...
235              5.04       Sean Gonzalez  3.534020e+15
236              6.30       Matthew Myers  3.543680e+15
239              9.68       Michael Avila  5.296070e+15
241             11.34          Keith Wong  6.011890e+15
242              8.91        Dennis Dixon  4.375220e+12

[132 rows x 11 columns]

In [25]:
#Sql like syntax
filtered = df.query("gender=='Male' and tip > 4")
filtered.head

<bound method NDFrame.head of     Payment ID  total_bill    tip gender smoker   day    time  size  \
5      Sun9679       25.29   4.71   Male     No   Sun  Dinner     4
20     Sat1709       17.92   4.08   Male     No   Sat  Dinner     2
23      Sat239       39.42   7.58   Male     No   Sat  Dinner     4
28     Sat3697       21.70   4.30   Male     No   Sat  Dinner     2
39     Sat6373       31.27   5.00   Male     No   Sat  Dinner     3
44     Sun2274       30.40   5.60   Male     No   Sun  Dinner     4
46     Sun7097       22.23   5.00   Male     No   Sun  Dinner     2
47     Sun9677       32.40   6.00   Male     No   Sun  Dinner     4
54     Sun9470       25.56   4.34   Male     No   Sun  Dinner     4
59     Sat8139       48.27   6.73   Male     No   Sat  Dinner     4
83    Thur8801       32.68   5.00   Male    Yes  Thur   Lunch     2
88    Thur9003       24.71   5.85   Male     No  Thur   Lunch     2
95     Fri9628       40.17   4.73   Male    Yes   Fri  Dinner     4
106    Sat7865       20.49   4.06   Male    Yes   Sat  Dinner     2
107    Sat5196       25.21   4.29   Male    Yes   Sat  Dinner     2
116      Sun22       29.93   5.07   Male     No   Sun  Dinner     4
141   Thur1025       34.30   6.70   Male     No  Thur   Lunch     6
142   Thur3621       41.19   5.00   Male     No  Thur   Lunch     5
156    Sun7518       48.17   5.00   Male     No   Sun  Dinner     6
167    Sun3719       31.71   4.50   Male     No   Sun  Dinner     4
170    Sat1954       50.81  10.00   Male    Yes   Sat  Dinner     3
172    Sun9209        7.25   5.15   Male    Yes   Sun  Dinner     2
181    Sun3402       23.33   5.65   Male    Yes   Sun  Dinner     2
183    Sun6059       23.17   6.50   Male    Yes   Sun  Dinner     4
185    Sun5842       20.69   5.00   Male     No   Sun  Dinner     5
211    Sat6735       25.89   5.16   Male    Yes   Sat  Dinner     4
212    Sat4590       48.33   9.00   Male     No   Sat  Dinner     4
239    Sat2657       29.03   5.92   Male     No   Sat  Dinner     3

     price_per_person         Payer Name     CC Number
5                6.32         Erik Smith  2.131400e+14
20               8.96        Thomas Rice  4.403300e+15
23               9.86     Lance Peterson  3.542580e+15
28              10.85      David Collier  5.529690e+15
39              10.42  Mr. Brandon Berry  6.011530e+15
44               7.60        Todd Cooper  5.038470e+11
46              11.12     Joshua Gilmore  4.292070e+12
47               8.10       James Barnes  3.552000e+15
54               6.39       Ronald Owens  6.569610e+15
59              12.07        Brian Ortiz  6.596450e+15
83              16.34      Daniel Murphy  5.356180e+15
88              12.36       Roger Taylor  4.410250e+12
95              10.04      Aaron Bentley  1.800270e+14
106             10.24      Karl Mcdaniel  1.800240e+14
107             12.60       Jason Mullen  4.738780e+12
116              7.48        Shawn Blake  4.689080e+15
141              5.72     Steven Carlson  3.526520e+15
142              8.24       Eric Andrews  4.356530e+15
156              8.03      Ryan Gonzales  3.523150e+15
167              7.93     Michael Lawson  3.566290e+15
170             16.94      Gregory Clark  5.473850e+15
172              3.62        Larry White  3.043260e+13
181             11.66          Jason Cox  6.556930e+15
183              5.79  Dr. Michael James  4.718500e+12
185              4.14      Joseph Howell  3.036240e+13
211              6.47     Christopher Li  6.011960e+15
212             12.08    Alex Williamson  6.762190e+11
239              9.68      Michael Avila  5.296070e+15  >

In [32]:
#count, sorting

# count by gender
# gender_count = df['gender'].value_counts()
# print(gender_count)

#sort_by_bill
# sort_by_bill = df.sort_values(by='total_bill').head(5)
# print(sort_by_bill)

#sort decending
# sort_by_tip = df.sort_values(by='tip', ascending=False).head(5)
# print(sort_by_tip)

#sort multiple
sorted_multi = df.sort_values(by=['day','total_bill'], ascending=[True,False]).head(10)
print(sorted_multi)

    Payment ID  total_bill   tip  gender smoker  day    time  size  \
95     Fri9628       40.17  4.73    Male    Yes  Fri  Dinner     4
90     Fri4175       28.97  3.00    Male    Yes  Fri  Dinner     2
96     Fri3159       27.28  4.00    Male    Yes  Fri  Dinner     2
94     Fri2318       22.75  3.25  Female     No  Fri  Dinner     2
91     Fri5700       22.49  3.50    Male     No  Fri  Dinner     2
98      Fri144       21.01  3.00    Male    Yes  Fri  Dinner     2
93     Fri6963       16.32  4.30  Female    Yes  Fri  Dinner     2
225    Fri6665       16.27  2.50  Female    Yes  Fri   Lunch     2
223    Fri6014       15.98  3.00  Female     No  Fri   Lunch     3
101    Fri8382       15.38  3.00  Female    Yes  Fri  Dinner     2

     price_per_person      Payer Name     CC Number
95              10.04   Aaron Bentley  1.800270e+14
90              14.48    Daniel Mason  3.597460e+15
96              13.64     Eric Carter  4.563050e+15
94              11.38     Jamie Garza  6.763180e+11
91              11.24       Earl Horn  6.011850e+15
98              10.50      Michael Li  4.831800e+15
93               8.16  Natalie Nguyen  5.181240e+15
225              8.14  Whitney Arnold  3.579110e+15
223              5.33     Mary Rivera  5.343430e+15
101              7.69   Tiffany Colon  6.011010e+15