In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

##### Next assignment question:

6) Use dataset https://www.kaggle.com/datasets/amirhosseinmirzaie/americancitizenincome Perform simple, systematic, stratified, cluster sampling.

Additional requirements:

(a) Ensure that we only have 10% of the overall dataframe records in each case. So, remove extra records, if necessary.

(b) For stratified, use strata as race.

(c) For cluster, use clusters as marital.status.

Then for overall data and for the four samples, find out the average education.num and average fnlwgt. Which of the four sampling methods is the closest to the overall average in the two cases?

In [4]:
df = pd.read_csv('Datasets/income.csv')
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,40,Self-emp-not-inc,223881,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,99999,0,70,United-States,>50K
1,30,Private,149118,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Female,0,0,40,United-States,<=50K
2,46,Private,109209,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,>50K
3,32,Private,229566,Assoc-voc,11,Married-civ-spouse,Other-service,Husband,White,Male,0,0,60,United-States,>50K
4,54,?,148657,Preschool,1,Married-civ-spouse,?,Wife,White,Female,0,0,40,Mexico,<=50K

In [8]:
#simple sampling method (select 10% of record randomly)
sample_df = df.sample(frac = 0.1, random_state=42) #frac 0.1 for getting 10% data and randon_state to keep random data fix
print("Sample data shape: ",sample_df.shape)
print("Population Data shape: ",df.shape)
df.head()

Sample data shape:  (2500, 15)
Population Data shape:  (25000, 15)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,40,Self-emp-not-inc,223881,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,99999,0,70,United-States,>50K
1,30,Private,149118,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Female,0,0,40,United-States,<=50K
2,46,Private,109209,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,>50K
3,32,Private,229566,Assoc-voc,11,Married-civ-spouse,Other-service,Husband,White,Male,0,0,60,United-States,>50K
4,54,?,148657,Preschool,1,Married-civ-spouse,?,Wife,White,Female,0,0,40,Mexico,<=50K

In [18]:
#Systematic Ramdom Sampling Method
sample_df1 = df.iloc[::10,::] #df.iloc[row_indexer(start:end:step), column_indexer(start:end:step)]
print("Sample data shape: ",sample_df1.shape)
print("Population Data shape: ",df.shape)
df.head()

Sample data shape:  (2500, 15)
Population Data shape:  (25000, 15)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,40,Self-emp-not-inc,223881,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,99999,0,70,United-States,>50K
1,30,Private,149118,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Female,0,0,40,United-States,<=50K
2,46,Private,109209,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,>50K
3,32,Private,229566,Assoc-voc,11,Married-civ-spouse,Other-service,Husband,White,Male,0,0,60,United-States,>50K
4,54,?,148657,Preschool,1,Married-civ-spouse,?,Wife,White,Female,0,0,40,Mexico,<=50K

In [26]:
white_count = len(df[df['race']=='White'])
print("Count of white race in population data: ", white_count)
Black_count = len(df[df['race']=='Black'])
print("Count of black race in population data: ", Black_count)

#sample data of white race
sample_white = df[df['race']=='White'].sample(frac=0.1, random_state=42)
print("Count of white   race in sample data: ", len(sample_white))

#sample data of black race
sample_black = df[df['race']=='Black'].sample(frac=0.1, random_state=42)
print("Count of black race in sample data: ", len(sample_black))

#sample data of Asian-Pac-Islander race
sample_asian = df[df['race']=='Asian-Pac-Islander'].sample(frac=0.1, random_state=42)
print("Count of Asian-Pac-Islander race in sample data: ", len(sample_asian))

#sample data of Amer-Indian-Eskimo race
sample_american = df[df['race']=='Amer-Indian-Eskimo'].sample(frac=0.1, random_state=42)
print("Count of Amer-Indian-Eskimo race in sample data: ", len(sample_american))

#sample data of Other race
sample_other = df[df['race']=='Other'].sample(frac=0.1, random_state=42)
print("Count of Other race in sample data: ", len(sample_other))

#concatenate sample data
sample_df2 = pd.concat([sample_white, sample_black, sample_asian, sample_american, sample_other], axis=0)
print("Shape of sample data after combining all: ", sample_df2.shape)
sample_df2.head()

Count of white race in population data:  21328
Count of black race in population data:  2412
Count of white   race in sample data:  2133
Count of black race in sample data:  241
Count of Asian-Pac-Islander race in sample data:  80
Count of Amer-Indian-Eskimo race in sample data:  25
Count of Other race in sample data:  21
Shape of sample data after combining all:  (2500, 15)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
12948,43,Private,180609,Bachelors,13,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,45,United-States,<=50K
10349,38,Private,165466,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,60,United-States,>50K
12659,26,Private,167350,12th,8,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,40,United-States,<=50K
8823,26,Private,113571,HS-grad,9,Never-married,Transport-moving,Not-in-family,White,Male,0,0,70,United-States,<=50K
2080,44,Private,67065,Assoc-voc,11,Never-married,Priv-house-serv,Not-in-family,White,Male,594,0,25,United-States,<=50K

In [ ]:
#cluster Smapling : as maratrial status
married_df = df['marital.status'].unique()
print("Unique marital status in population data: ", married_df)

#select 2 cluster randomly
selected_clusters = np.random.choice(married_df, size=3, replace=False)
print("Selected clusters: ", selected_clusters)
#select data of selected clusters
cluster_sample_df = df[df['marital.status'].isin(selected_clusters)]


print("Shape of sample data after cluster sampling: ", cluster_sample_df.shape)
cluster_sample_df.head()

Unique marital status in population data:  ['Married-civ-spouse' 'Divorced' 'Widowed' 'Never-married' 'Separated'
 'Married-spouse-absent' 'Married-AF-spouse']
Selected clusters:  ['Married-spouse-absent' 'Divorced' 'Married-AF-spouse']
Shape of sample data after cluster sampling:  (3720, 15)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
1,30,Private,149118,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Female,0,0,40,United-States,<=50K
17,42,State-gov,212027,Bachelors,13,Divorced,Prof-specialty,Not-in-family,Black,Male,0,0,40,United-States,<=50K
18,45,State-gov,110311,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40,United-States,<=50K
20,26,Private,208122,Some-college,10,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,45,United-States,<=50K
21,36,Local-gov,51424,HS-grad,9,Divorced,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K

In [20]:
print(df['race'].unique())

['White' 'Black' 'Asian-Pac-Islander' 'Other' 'Amer-Indian-Eskimo']