In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("DataSets/loan_approval_dataset.csv")
df.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [3]:
N = len(df)
A = len(df[df['loan_status']=='Approved'])
B = len(df[df['cibil_score'] > 700])

In [4]:
#A and B approved and good cibil score
A_and_B = len(df[(df['loan_status']=='Approved') & (df['cibil_score'] > 700)])

In [5]:
P_A = A/N
P_B = B/N
P_B_given_A = A_and_B/A

#Bayes Theorem
P_A_given_B = (P_B_given_A*P_A)/P_B

print("Total number of applicants:", N)
print("Number of approved loans (A):", A)
print("Number of applicants with good cibil score (B):", B)
print("Number of approved loans with good cibil score (A and B):", A_and_B)
print("P(A) - Probability of loan approval:", P_A)
print("P(B) - Probability of good cibil score:", P_B)
print("P(B|A) - Probability of good cibil score given loan approval:", P_B_given_A)
print("P(A|B) - Probability of loan approval given good cibil score:", P_A_given_B)

Total number of applicants: 4269
Number of approved loans (A): 2656
Number of applicants with good cibil score (B): 1425
Number of approved loans with good cibil score (A and B): 1418
P(A) - Probability of loan approval: 0.622159756383228
P(B) - Probability of good cibil score: 0.3338018271257906
P(B|A) - Probability of good cibil score given loan approval: 0.5338855421686747
P(A|B) - Probability of loan approval given good cibil score: 0.9950877192982456