In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv('Datasets/titanic.csv')
total_length = len(df)

survived_count = len(df[df['survived'] == 1])
female_count = len(df[df['gender'] == 'female'])
female_survived_count = len(df[(df['survived'] == 1) & (df['gender'] == 'female')])

p_survived = survived_count/total_length
p_female = female_count/total_length
p_female_survived = female_survived_count/survived_count

#apply Bayes theorm
p_survived_given_female = (p_female_survived * p_survived) /p_female
print(p_survived_given_female)

0.7420382165605095

In [3]:
df.head()

   survived  pclass  gender   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN