In [7]:
from scipy.stats import binom
import pandas as pd

In [9]:
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Given data
n = 5
k = 3
p = 0.66

# Calculate binomial probability
probability = binom.pmf(k, n, p)
print("The probability of exactly 3 successes in 5 trials is:", probability)

The probability of exactly 3 successes in 5 trials is: 0.3323453760000002

In [3]:
#Hospital record shows that  patients suffering from specific diseases, 75% die on it. 
# what is the probability that of six randomly selecteted patients, four will recover?

p=0.25
n=6
k=4
probability = binom.pmf(k, n, p)
print(probability)

0.03295898437499997

In [4]:
#A marksman finds thta on the avarage , he hits targets 4 out of 5.
#if he fires 4 shots waht is propability of 
#a. more than 2 hits
#b. atleast 3 misses

p = 4/5
n = 4
k = 3

probability = binom.pmf(3, n, p) + binom.pmf(4, n, p)
print(probability)

#for 3 miss
p = 1-(4/5)
n= 4
probability = binom.pmf(3, n, p) + binom.pmf(4, n, p)
print(probability)

0.8192000000000003
0.02719999999999998

In [ ]:
#85% brorrower replay loans on time. 
# if bank gives a loan to 10 people what is the probability that 
# a)more than 7 will repay  
# b)atleasest 3 default

p = 0.85 
n= 10

np.float64(0.02719999999999998)

#Simulation of binomial distribution on titanic dataset - If we picked 100 people randomly from this Titanic data, what is the probability distribution of the number of survivors? Imagin we are studying the Titanic disaster and want to understand the likelihood of survival. We look at real passenger data and calculate the overall survival rate that a randomly chosen person survived. Now, suppose we randomly select 100 passengers - what are the chances that 50 of them survived? Or 60? Or 70? That is exa that is, the probability what the binomial distribution helps us explore. It shows us how many survivors we might expect out of 100 random passengers, and how likely each outcome is, based on what actually happened in the real data

In [8]:
#simulation binomial distribuation on titanic data set
df = pd.read_csv('DataSets/titanic.csv')
df.head()

   survived  pclass  gender   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [10]:
df['survived_binary'] = df['survived'].apply(lambda x: 1 if x==1 else 0)
n= len(df)
k=df['survived_binary']
p = k / n
print(n, k, p)

891 0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: survived_binary, Length: 891, dtype: int64 0      0.000000
1      0.001122
2      0.001122
3      0.001122
4      0.000000
         ...
886    0.000000
887    0.001122
888    0.000000
889    0.001122
890    0.000000
Name: survived_binary, Length: 891, dtype: float64

In [11]:
#simulate 100 hypothesis passenger
trials = 100
x = np.arange(0, trials + 1)

#pmf and cdf
pmf_values = binom.pmf(x, trials, p)
cdf_values = binom.cdf(x,trials,p)

plt.figure(figsize=(12,6))
#PMF plot
plt.subplot(1, 2, 1)
plt.bar(x, pmf_values, color='skyblue', alpha=0.7)
plt.title('Binomial PMF - Titanic Survival')

ValueError: operands could not be broadcast together with shapes (891,) (101,)