In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('DataSets/weight-height.csv')
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [3]:
df_male = df[df['Gender']== 'Male']
df_female = df[df['Gender']== 'Female']

In [8]:
corr_overall = df[['Height','Weight']].corr()
corr_male = df_male[['Height','Weight']].corr()
corr_female = df_female[['Height','Weight']].corr()

print("Overall Correlation:\n", corr_overall)
print("Male Correlation:\n", corr_male)
print("Female Correlation:\n", corr_female)

Overall Correlation:
           Height    Weight
Height  1.000000  0.924756
Weight  0.924756  1.000000
Male Correlation:
           Height    Weight
Height  1.000000  0.862979
Weight  0.862979  1.000000
Female Correlation:
         Height  Weight
Height     1.0    -1.0
Weight    -1.0     1.0

In [9]:
cov_overall = df[['Height','Weight']].cov()
cov_male = df_male[['Height','Weight']].cov()
cov_female = df_female[['Height','Weight']].cov()

print("Overall Covariance:\n", cov_overall)
print("Male Covariance:\n", cov_male)
print("Female Covariance:\n", cov_female)

Overall Covariance:
             Height       Weight
Height   14.803473   114.242656
Weight  114.242656  1030.951855
Male Covariance:
            Height      Weight
Height   8.198843   48.879649
Weight  48.879649  391.294074
Female Covariance:
           Height    Weight
Height  0.000256 -0.000256
Weight -0.000256  0.000256