In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [13]:
df1 = pd.read_csv("DataSets/titanic.csv")
df1.head

<bound method NDFrame.head of      survived  pclass  gender   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]>

In [ ]:
#Manual Methods: use pandas
df1['age_mean']=df1['age'].fillna(df1['age'].mean())
df1['age_mode']=df1['age'].fillna(df1['age'].mode()[0])
df1['age_median']=df1['age'].fillna(df1['age'].mean())
df1['age_constant']=df1['age'].fillna(0)
df1.head

<bound method NDFrame.head of      survived  pclass  gender   age  sibsp  parch     fare embarked deck  \
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

      age_mean  age_mode  age_median  age_com=nstant  age_constant
0    22.000000      22.0   22.000000            22.0          22.0
1    38.000000      38.0   38.000000            38.0          38.0
2    26.000000      26.0   26.000000            26.0          26.0
3    35.000000      35.0   35.000000            35.0          35.0
4    35.000000      35.0   35.000000            35.0          35.0
..         ...       ...         ...             ...           ...
886  27.000000      27.0   27.000000            27.0          27.0
887  19.000000      19.0   19.000000            19.0          19.0
888  29.699118      24.0   29.699118             0.0           0.0
889  26.000000      26.0   26.000000            26.0          26.0
890  32.000000      32.0   32.000000            32.0          32.0

[891 rows x 14 columns]>

In [10]:


#handling nulls using SimpleImputer of sklearn library
from sklearn.impute import SimpleImputer

# create imputers for different strategies
imp_mean = SimpleImputer(strategy='mean')
imp_mode = SimpleImputer(strategy='most_frequent')
imp_median = SimpleImputer(strategy='median')
imp_constant = SimpleImputer(strategy='constant', fill_value=0)

# fit_transform expects 2D input; use df1[['age']] to keep it 2D
df1['imputer_mean'] = imp_mean.fit_transform(df1[['age']])
df1['imputer_mode'] = imp_mode.fit_transform(df1[['age']])
df1['imputer_median'] = imp_median.fit_transform(df1[['age']])
df1['imputer_constant'] = imp_constant.fit_transform(df1[['age']])
df1.head

<bound method NDFrame.head of      survived  pclass  gender   age  sibsp  parch     fare embarked deck  \
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

      age_mean  age_mode  age_median  age_com=nstant  age_constant  \
0    22.000000      22.0   22.000000            22.0          22.0
1    38.000000      38.0   38.000000            38.0          38.0
2    26.000000      26.0   26.000000            26.0          26.0
3    35.000000      35.0   35.000000            35.0          35.0
4    35.000000      35.0   35.000000            35.0          35.0
..         ...       ...         ...             ...           ...
886  27.000000      27.0   27.000000            27.0          27.0
887  19.000000      19.0   19.000000            19.0          19.0
888  29.699118      24.0   29.699118             0.0           0.0
889  26.000000      26.0   26.000000            26.0          26.0
890  32.000000      32.0   32.000000            32.0          32.0

     imputer_mean  imputer_mode  imputer_median  imputer_constant
0       22.000000          22.0            22.0              22.0
1       38.000000          38.0            38.0              38.0
2       26.000000          26.0            26.0              26.0
3       35.000000          35.0            35.0              35.0
4       35.000000          35.0            35.0              35.0
..            ...           ...             ...               ...
886     27.000000          27.0            27.0              27.0
887     19.000000          19.0            19.0              19.0
888     29.699118          24.0            28.0               0.0
889     26.000000          26.0            26.0              26.0
890     32.000000          32.0            32.0              32.0

[891 rows x 18 columns]>

In [11]:
print(df1[['age', 'age_mean', 'age_mode', 'age_median', 'age_constant', 'imputer_mean', 'imputer_mode', 'imputer_median', 'imputer_constant']].head(10))

    age   age_mean  age_mode  age_median  age_constant  imputer_mean  \
0  22.0  22.000000      22.0   22.000000          22.0     22.000000
1  38.0  38.000000      38.0   38.000000          38.0     38.000000
2  26.0  26.000000      26.0   26.000000          26.0     26.000000
3  35.0  35.000000      35.0   35.000000          35.0     35.000000
4  35.0  35.000000      35.0   35.000000          35.0     35.000000
5   NaN  29.699118      24.0   29.699118           0.0     29.699118
6  54.0  54.000000      54.0   54.000000          54.0     54.000000
7   2.0   2.000000       2.0    2.000000           2.0      2.000000
8  27.0  27.000000      27.0   27.000000          27.0     27.000000
9  14.0  14.000000      14.0   14.000000          14.0     14.000000

   imputer_mode  imputer_median  imputer_constant
0          22.0            22.0              22.0
1          38.0            38.0              38.0
2          26.0            26.0              26.0
3          35.0            35.0              35.0
4          35.0            35.0              35.0
5          24.0            28.0               0.0
6          54.0            54.0              54.0
7           2.0             2.0               2.0
8          27.0            27.0              27.0
9          14.0            14.0              14.0