In [1]:
import numpy as np
import pandas as pd

In [9]:
df = pd.read_csv("shopping.csv")
print(df.columns)

Index(['Unnamed: 0', 'CustomerID', 'Gender', 'Location', 'Tenure_Months',
       'Transaction_ID', 'Transaction_Date', 'Product_SKU',
       'Product_Description', 'Product_Category', 'Quantity', 'Avg_Price',
       'Delivery_Charges', 'Coupon_Status', 'GST', 'Date', 'Offline_Spend',
       'Online_Spend', 'Month', 'Coupon_Code', 'Discount_pct'],
      dtype='object')

In [11]:
#Ensure numeric coloms have correct data type
numeric_cols = ['CustomerID', 'CustomerID', 'Transaction_ID', 'Quantity', 'Avg_Price' 'Delivery_Charges', 'GST', 'Offline_Spend', 'Online_Spend', 'Month', 'Discount_pct']
for col in numeric_cols:
    if col in df.columns:
        df[col] = pd.to_numeric(df[col]) # error = coerce means conver to Nan if error

In [14]:
#1) filter row by single value colom
# male_customes = df[df['Gender']== 'M']
# print(male_customes)

#altr method
male_customes = df.query("Gender == 'M'")
print(male_customes)

       Unnamed: 0  CustomerID Gender    Location  Tenure_Months  \
0               0     17850.0      M     Chicago           12.0
1               1     17850.0      M     Chicago           12.0
2               2     17850.0      M     Chicago           12.0
3               3     17850.0      M     Chicago           12.0
4               4     17850.0      M     Chicago           12.0
...           ...         ...    ...         ...            ...
52917       52917     15002.0      M     Chicago           41.0
52918       52918     15002.0      M     Chicago           41.0
52920       52920     18077.0      M     Chicago           34.0
52921       52921     16085.0      M  California           15.0
52922       52922     16085.0      M  California           15.0

       Transaction_ID Transaction_Date     Product_SKU  \
0             16679.0       2019-01-01  GGOENEBJ079499
1             16680.0       2019-01-01  GGOENEBJ079499
2             16696.0       2019-01-01  GGOENEBQ078999
3             16699.0       2019-01-01  GGOENEBQ079099
4             16700.0       2019-01-01  GGOENEBJ079499
...               ...              ...             ...
52917         23799.0       2019-03-22  GGOEGGCX056299
52918         23800.0       2019-03-22  GGOEGGCX056299
52920         24250.0       2019-03-28  GGOEGGCX056299
52921         39991.0       2019-10-06  GGOEGOCD078399
52922         39991.0       2019-10-06  GGOEGOCR078499

                                     Product_Description  \
0      Nest Learning Thermostat 3rd Gen-USA - Stainle...
1      Nest Learning Thermostat 3rd Gen-USA - Stainle...
2                 Nest Cam Outdoor Security Camera - USA
3        Nest Protect Smoke + CO White Battery Alarm-USA
4      Nest Learning Thermostat 3rd Gen-USA - Stainle...
...                                                  ...
52917                                 Gift Card - $25.00
52918                                 Gift Card - $25.00
52920                                 Gift Card - $25.00
52921                  Google Leather Perforated Journal
52922                      Google Spiral Leather Journal

           Product_Category  Quantity  Avg_Price  Delivery_Charges  \
0                  Nest-USA       1.0     153.71               6.5
1                  Nest-USA       1.0     153.71               6.5
2                  Nest-USA       2.0     122.77               6.5
3                  Nest-USA       1.0      81.50               6.5
4                  Nest-USA       1.0     153.71               6.5
...                     ...       ...        ...               ...
52917            Gift Cards       1.0      25.00               0.0
52918            Gift Cards       1.0      25.00               0.0
52920            Gift Cards       1.0      25.00               0.0
52921  Notebooks & Journals       1.0      10.80               6.0
52922  Notebooks & Journals       1.0       9.60               6.0

      Coupon_Status   GST       Date  Offline_Spend  Online_Spend  Month  \
0              Used  0.10   1/1/2019         4500.0       2424.50      1
1              Used  0.10   1/1/2019         4500.0       2424.50      1
2          Not Used  0.10   1/1/2019         4500.0       2424.50      1
3           Clicked  0.10   1/1/2019         4500.0       2424.50      1
4           Clicked  0.10   1/1/2019         4500.0       2424.50      1
...             ...   ...        ...            ...           ...    ...
52917       Clicked  0.05  3/22/2019         2000.0       2523.41      3
52918       Clicked  0.05  3/22/2019         2000.0       2523.41      3
52920          Used  0.05  3/28/2019         2000.0       1066.12      3
52921       Clicked  0.05  10/6/2019         3000.0       2230.76     10
52922          Used  0.05  10/6/2019         3000.0       2230.76     10

      Coupon_Code  Discount_pct
0          ELEC10          10.0
1          ELEC10          10.0
2          ELEC10          10.0
3          ELEC10          10.0
4          ELEC10          10.0
...           ...           ...
52917        GC30          30.0
52918        GC30          30.0
52920        GC30          30.0
52921        NJ10          10.0
52922        NJ10          10.0

[19917 rows x 21 columns]

In [17]:
#2) filter row by multiple colum condition
# male_chicago = df[(df['Gender']=='M') & (df['Location']=='Chicago')]
# print(male_chicago)

#alter
male_chicago = df.query("Gender = 'M' and Location = 'Chicago' ")

       Unnamed: 0  CustomerID Gender Location  Tenure_Months  Transaction_ID  \
0               0     17850.0      M  Chicago           12.0         16679.0
1               1     17850.0      M  Chicago           12.0         16680.0
2               2     17850.0      M  Chicago           12.0         16696.0
3               3     17850.0      M  Chicago           12.0         16699.0
4               4     17850.0      M  Chicago           12.0         16700.0
...           ...         ...    ...      ...            ...             ...
52915       52915     15002.0      M  Chicago           41.0         23797.0
52916       52916     15002.0      M  Chicago           41.0         23798.0
52917       52917     15002.0      M  Chicago           41.0         23799.0
52918       52918     15002.0      M  Chicago           41.0         23800.0
52920       52920     18077.0      M  Chicago           34.0         24250.0

      Transaction_Date     Product_SKU  \
0           2019-01-01  GGOENEBJ079499
1           2019-01-01  GGOENEBJ079499
2           2019-01-01  GGOENEBQ078999
3           2019-01-01  GGOENEBQ079099
4           2019-01-01  GGOENEBJ079499
...                ...             ...
52915       2019-03-22  GGOEGGCX056299
52916       2019-03-22  GGOEGGCX056299
52917       2019-03-22  GGOEGGCX056299
52918       2019-03-22  GGOEGGCX056299
52920       2019-03-28  GGOEGGCX056299

                                     Product_Description Product_Category  \
0      Nest Learning Thermostat 3rd Gen-USA - Stainle...         Nest-USA
1      Nest Learning Thermostat 3rd Gen-USA - Stainle...         Nest-USA
2                 Nest Cam Outdoor Security Camera - USA         Nest-USA
3        Nest Protect Smoke + CO White Battery Alarm-USA         Nest-USA
4      Nest Learning Thermostat 3rd Gen-USA - Stainle...         Nest-USA
...                                                  ...              ...
52915                                 Gift Card - $25.00       Gift Cards
52916                                 Gift Card - $25.00       Gift Cards
52917                                 Gift Card - $25.00       Gift Cards
52918                                 Gift Card - $25.00       Gift Cards
52920                                 Gift Card - $25.00       Gift Cards

       Quantity  Avg_Price  Delivery_Charges Coupon_Status   GST       Date  \
0           1.0     153.71               6.5          Used  0.10   1/1/2019
1           1.0     153.71               6.5          Used  0.10   1/1/2019
2           2.0     122.77               6.5      Not Used  0.10   1/1/2019
3           1.0      81.50               6.5       Clicked  0.10   1/1/2019
4           1.0     153.71               6.5       Clicked  0.10   1/1/2019
...         ...        ...               ...           ...   ...        ...
52915       1.0      25.00               0.0       Clicked  0.05  3/22/2019
52916       1.0      25.00               0.0          Used  0.05  3/22/2019
52917       1.0      25.00               0.0       Clicked  0.05  3/22/2019
52918       1.0      25.00               0.0       Clicked  0.05  3/22/2019
52920       1.0      25.00               0.0          Used  0.05  3/28/2019

       Offline_Spend  Online_Spend  Month Coupon_Code  Discount_pct
0             4500.0       2424.50      1      ELEC10          10.0
1             4500.0       2424.50      1      ELEC10          10.0
2             4500.0       2424.50      1      ELEC10          10.0
3             4500.0       2424.50      1      ELEC10          10.0
4             4500.0       2424.50      1      ELEC10          10.0
...              ...           ...    ...         ...           ...
52915         2000.0       2523.41      3        GC30          30.0
52916         2000.0       2523.41      3        GC30          30.0
52917         2000.0       2523.41      3        GC30          30.0
52918         2000.0       2523.41      3        GC30          30.0
52920         2000.0       1066.12      3        GC30          30.0

[6896 rows x 21 columns]

In [ ]:
#3 filter row using is in

In [1]:
#4 Filer rows by numeric condition
# multiple_qty = df[df['Quantity']>1]
# print(multiple_qty)

multiple_qty = df.query("Quantity > 1")
print(multiple_qty)

NameError: name 'df' is not defined

In [23]:
#5) Filter row using between 
# tenure_range=df[df['Tenure_Months'].between(6,12)]
# print(tenure_range)

# tenure_range=df[df['Tenure_Months'].between(6,12, inclusive = "left")] #inclusive = "left"/right/neither

tenure_range = df.query("6<= Tenure_Months <= 12")
print(tenure_range)

       Unnamed: 0  CustomerID Gender    Location  Tenure_Months  \
0               0     17850.0      M     Chicago           12.0
1               1     17850.0      M     Chicago           12.0
2               2     17850.0      M     Chicago           12.0
3               3     17850.0      M     Chicago           12.0
4               4     17850.0      M     Chicago           12.0
...           ...         ...    ...         ...            ...
52881       52881     16891.0      M     Chicago           12.0
52894       52894     17975.0      M     Chicago            6.0
52896       52896     18069.0      F     Chicago           10.0
52919       52919     13155.0      F  California            8.0
52923       52923     13659.0      F     Chicago            8.0

       Transaction_ID Transaction_Date     Product_SKU  \
0             16679.0       2019-01-01  GGOENEBJ079499
1             16680.0       2019-01-01  GGOENEBJ079499
2             16696.0       2019-01-01  GGOENEBQ078999
3             16699.0       2019-01-01  GGOENEBQ079099
4             16700.0       2019-01-01  GGOENEBJ079499
...               ...              ...             ...
52881         19478.0       2019-02-02  GGOEGBRD079699
52894         33037.0       2019-07-18  GGOEGBPB082099
52896         37570.0       2019-09-06  GGOEGCBQ016499
52919         22504.0       2019-03-10  GGOEGGCX056399
52923         39998.0       2019-10-06  GGOEGOCC077999

                                     Product_Description  \
0      Nest Learning Thermostat 3rd Gen-USA - Stainle...
1      Nest Learning Thermostat 3rd Gen-USA - Stainle...
2                 Nest Cam Outdoor Security Camera - USA
3        Nest Protect Smoke + CO White Battery Alarm-USA
4      Nest Learning Thermostat 3rd Gen-USA - Stainle...
...                                                  ...
52881                               25L Classic Rucksack
52894                             UpCycled Handlebar Bag
52896                     SPF-15 Slim & Slender Lip Balm
52919                                Gift Card - $250.00
52923                     Google Spiral Journal with Pen

           Product_Category  Quantity  Avg_Price  Delivery_Charges  \
0                  Nest-USA       1.0     153.71              6.50
1                  Nest-USA       1.0     153.71              6.50
2                  Nest-USA       2.0     122.77              6.50
3                  Nest-USA       1.0      81.50              6.50
4                  Nest-USA       1.0     153.71              6.50
...                     ...       ...        ...               ...
52881             Backpacks       1.0      99.99              6.50
52894           Accessories       1.0      33.59             12.91
52896            Housewares       3.0       1.40             12.48
52919            Gift Cards       1.0     250.00              0.00
52923  Notebooks & Journals       1.0       5.59              6.50

      Coupon_Status   GST       Date  Offline_Spend  Online_Spend  Month  \
0              Used  0.10   1/1/2019         4500.0       2424.50      1
1              Used  0.10   1/1/2019         4500.0       2424.50      1
2          Not Used  0.10   1/1/2019         4500.0       2424.50      1
3           Clicked  0.10   1/1/2019         4500.0       2424.50      1
4           Clicked  0.10   1/1/2019         4500.0       2424.50      1
...             ...   ...        ...            ...           ...    ...
52881          Used  0.10   2/2/2019          700.0        770.87      2
52894          Used  0.10  7/18/2019         2000.0       2408.61      7
52896          Used  0.12   9/6/2019         2500.0       1292.58      9
52919       Clicked  0.05  3/10/2019         2500.0       1294.22      3
52923      Not Used  0.05  10/6/2019         3000.0       2230.76     10

      Coupon_Code  Discount_pct
0          ELEC10          10.0
1          ELEC10          10.0
2          ELEC10          10.0
3          ELEC10          10.0
4          ELEC10          10.0
...           ...           ...
52881         NaN           NaN
52894       ACC10          10.0
52896       HOU30          30.0
52919        GC30          30.0
52923        NJ10          10.0

[7458 rows x 21 columns]

In [26]:
#6) filter rows with string methods (contains) - safe for NaNs
camera_products = df[df['Product_Description'].str.contains('Camera', case = False, na = False)]
print(camera_products)

pd.set_option('display.max_columns',None) # gives all colums but so expensive
pd.reset_option('display.max_columns',None)# reset above setting

       Unnamed: 0  CustomerID Gender    Location  Tenure_Months  \
2               2     17850.0      M     Chicago           12.0
10             10     17850.0      M     Chicago           12.0
13             13     17850.0      M     Chicago           12.0
16             16     17850.0      M     Chicago           12.0
17             17     17850.0      M     Chicago           12.0
...           ...         ...    ...         ...            ...
52089       52089     15555.0      F     Chicago           34.0
52090       52090     13102.0      F    New York           10.0
52092       52092     13102.0      F    New York           10.0
52095       52095     14051.0      M     Chicago            6.0
52096       52096     17827.0      M  California           32.0

       Transaction_ID Transaction_Date     Product_SKU  \
2             16696.0       2019-01-01  GGOENEBQ078999
10            16713.0       2019-01-01  GGOENEBQ078999
13            16720.0       2019-01-01  GGOENEBQ078999
16            16722.0       2019-01-01  GGOENEBQ078999
17            16723.0       2019-01-01  GGOENEBB078899
...               ...              ...             ...
52089         26084.0       2019-04-20  GGOENEBB081499
52090         25730.0       2019-04-17  GGOENEBB081499
52092         25730.0       2019-04-17  GGOENEBQ081599
52095         24725.0       2019-04-03  GGOENEBB081499
52096         26391.0       2019-04-25  GGOENEBB081499

                          Product_Description Product_Category  Quantity  \
2      Nest Cam Outdoor Security Camera - USA         Nest-USA       2.0
10     Nest Cam Outdoor Security Camera - USA         Nest-USA       1.0
13     Nest Cam Outdoor Security Camera - USA         Nest-USA       1.0
16     Nest Cam Outdoor Security Camera - USA         Nest-USA       2.0
17      Nest Cam Indoor Security Camera - USA         Nest-USA       1.0
...                                       ...              ...       ...
52089    Nest Cam Indoor Security Camera - CA      Nest-Canada       3.0
52090    Nest Cam Indoor Security Camera - CA      Nest-Canada       1.0
52092   Nest Cam Outdoor Security Camera - CA      Nest-Canada       1.0
52095    Nest Cam Indoor Security Camera - CA      Nest-Canada       2.0
52096    Nest Cam Indoor Security Camera - CA      Nest-Canada       1.0

       Avg_Price  Delivery_Charges Coupon_Status  GST       Date  \
2         122.77               6.5      Not Used  0.1   1/1/2019
10        122.77               6.5          Used  0.1   1/1/2019
13        122.77               6.5       Clicked  0.1   1/1/2019
16        122.77               6.5          Used  0.1   1/1/2019
17        122.77               6.5          Used  0.1   1/1/2019
...          ...               ...           ...  ...        ...
52089     149.00               8.7          Used  0.1  4/20/2019
52090     149.00               8.7          Used  0.1  4/17/2019
52092     149.00               8.7       Clicked  0.1  4/17/2019
52095     149.00               8.7       Clicked  0.1   4/3/2019
52096     149.00               8.7       Clicked  0.1  4/25/2019

       Offline_Spend  Online_Spend  Month Coupon_Code  Discount_pct
2             4500.0       2424.50      1      ELEC10          10.0
10            4500.0       2424.50      1      ELEC10          10.0
13            4500.0       2424.50      1      ELEC10          10.0
16            4500.0       2424.50      1      ELEC10          10.0
17            4500.0       2424.50      1      ELEC10          10.0
...              ...           ...    ...         ...           ...
52089         4000.0       1330.34      4       NCA10          10.0
52090         4000.0       2526.49      4       NCA10          10.0
52092         4000.0       2526.49      4       NCA10          10.0
52095         2500.0       1748.14      4       NCA10          10.0
52096         3500.0        620.94      4       NCA10          10.0

[6697 rows x 21 columns]

In [43]:
#7 Filter rows based on null or non-null values
# with_coupon = df[df['Coupon_Code'].notnull()]
# print(with_coupon)

with_coupon= df.query("Coupon_Code == Coupon_Code")
print(with_coupon)

       Unnamed: 0  CustomerID Gender Location  Tenure_Months  Transaction_ID  \
0               0     17850.0      M  Chicago           12.0         16679.0
1               1     17850.0      M  Chicago           12.0         16680.0
2               2     17850.0      M  Chicago           12.0         16696.0
3               3     17850.0      M  Chicago           12.0         16699.0
4               4     17850.0      M  Chicago           12.0         16700.0
...           ...         ...    ...      ...            ...             ...
52950       52950         NaN    NaN      NaN            NaN             NaN
52951       52951         NaN    NaN      NaN            NaN             NaN
52952       52952         NaN    NaN      NaN            NaN             NaN
52953       52953         NaN    NaN      NaN            NaN             NaN
52954       52954         NaN    NaN      NaN            NaN             NaN

      Transaction_Date     Product_SKU  \
0           2019-01-01  GGOENEBJ079499
1           2019-01-01  GGOENEBJ079499
2           2019-01-01  GGOENEBQ078999
3           2019-01-01  GGOENEBQ079099
4           2019-01-01  GGOENEBJ079499
...                ...             ...
52950              NaT             NaN
52951              NaT             NaN
52952              NaT             NaN
52953              NaT             NaN
52954              NaT             NaN

                                     Product_Description  \
0      Nest Learning Thermostat 3rd Gen-USA - Stainle...
1      Nest Learning Thermostat 3rd Gen-USA - Stainle...
2                 Nest Cam Outdoor Security Camera - USA
3        Nest Protect Smoke + CO White Battery Alarm-USA
4      Nest Learning Thermostat 3rd Gen-USA - Stainle...
...                                                  ...
52950                                                NaN
52951                                                NaN
52952                                                NaN
52953                                                NaN
52954                                                NaN

           Product_Category  Quantity  Avg_Price  Delivery_Charges  \
0                  Nest-USA       1.0     153.71               6.5
1                  Nest-USA       1.0     153.71               6.5
2                  Nest-USA       2.0     122.77               6.5
3                  Nest-USA       1.0      81.50               6.5
4                  Nest-USA       1.0     153.71               6.5
...                     ...       ...        ...               ...
52950            Gift Cards       NaN        NaN               NaN
52951  Notebooks & Journals       NaN        NaN               NaN
52952               Android       NaN        NaN               NaN
52953               Android       NaN        NaN               NaN
52954               Android       NaN        NaN               NaN

      Coupon_Status  GST      Date  Offline_Spend  Online_Spend  Month  \
0              Used  0.1  1/1/2019         4500.0        2424.5      1
1              Used  0.1  1/1/2019         4500.0        2424.5      1
2          Not Used  0.1  1/1/2019         4500.0        2424.5      1
3           Clicked  0.1  1/1/2019         4500.0        2424.5      1
4           Clicked  0.1  1/1/2019         4500.0        2424.5      1
...             ...  ...       ...            ...           ...    ...
52950           NaN  NaN       NaN            NaN           NaN     11
52951           NaN  NaN       NaN            NaN           NaN     11
52952           NaN  NaN       NaN            NaN           NaN     10
52953           NaN  NaN       NaN            NaN           NaN     11
52954           NaN  NaN       NaN            NaN           NaN     12

      Coupon_Code  Discount_pct
0          ELEC10          10.0
1          ELEC10          10.0
2          ELEC10          10.0
3          ELEC10          10.0
4          ELEC10          10.0
...           ...           ...
52950        GC20          20.0
52951        NJ20          20.0
52952       AND10          10.0
52953       AND20          20.0
52954       AND30          30.0

[52555 rows x 21 columns]

In [31]:
#8) Filter rows by date range
df['Transaction_Date']= pd.to_datetime(df['Transaction_Date'])
# jan_2019 = df[(df['Transaction_Date']>='2019-01-01') & (df['Transaction_Date']<='2019-01-31')]
# print(jan_2019)

jan_2019 = df.query("Transaction_Date > = '2019-01-01' and Transaction_Date <= '2019-01-31'  ")
print(jan_2019)

       Unnamed: 0  CustomerID Gender    Location  Tenure_Months  \
0               0     17850.0      M     Chicago           12.0
1               1     17850.0      M     Chicago           12.0
2               2     17850.0      M     Chicago           12.0
3               3     17850.0      M     Chicago           12.0
4               4     17850.0      M     Chicago           12.0
...           ...         ...    ...         ...            ...
4058         4058     15923.0      F     Chicago           34.0
4059         4059     17581.0      M  California           25.0
4060         4060     15525.0      M    New York           48.0
4061         4061     12947.0      M  California           48.0
52914       52914     14031.0      F     Chicago           17.0

       Transaction_ID Transaction_Date     Product_SKU  \
0             16679.0       2019-01-01  GGOENEBJ079499
1             16680.0       2019-01-01  GGOENEBJ079499
2             16696.0       2019-01-01  GGOENEBQ078999
3             16699.0       2019-01-01  GGOENEBQ079099
4             16700.0       2019-01-01  GGOENEBJ079499
...               ...              ...             ...
4058          18470.0       2019-01-21  GGOEAAAH083315
4059          18852.0       2019-01-25  GGOEAAAH083314
4060          17456.0       2019-01-09  GGOEAAAH083314
4061          17891.0       2019-01-14  GGOEAAAH083315
52914         19075.0       2019-01-29  GGOEGBPB081999

                                     Product_Description Product_Category  \
0      Nest Learning Thermostat 3rd Gen-USA - Stainle...         Nest-USA
1      Nest Learning Thermostat 3rd Gen-USA - Stainle...         Nest-USA
2                 Nest Cam Outdoor Security Camera - USA         Nest-USA
3        Nest Protect Smoke + CO White Battery Alarm-USA         Nest-USA
4      Nest Learning Thermostat 3rd Gen-USA - Stainle...         Nest-USA
...                                                  ...              ...
4058       Android Men's Paradise Short Sleeve Tee Olive          Android
4059       Android Men's Paradise Short Sleeve Tee Olive          Android
4060       Android Men's Paradise Short Sleeve Tee Olive          Android
4061       Android Men's Paradise Short Sleeve Tee Olive          Android
52914                           UpCycled Bike Saddle Bag      Accessories

       Quantity  Avg_Price  Delivery_Charges Coupon_Status  GST       Date  \
0           1.0     153.71               6.5          Used  0.1   1/1/2019
1           1.0     153.71               6.5          Used  0.1   1/1/2019
2           2.0     122.77               6.5      Not Used  0.1   1/1/2019
3           1.0      81.50               6.5       Clicked  0.1   1/1/2019
4           1.0     153.71               6.5       Clicked  0.1   1/1/2019
...         ...        ...               ...           ...  ...        ...
4058        1.0      16.50               6.5       Clicked  0.1  1/21/2019
4059        1.0      20.62               6.5          Used  0.1  1/25/2019
4060        1.0      20.62               6.5          Used  0.1   1/9/2019
4061        1.0      16.50               6.5      Not Used  0.1  1/14/2019
52914       1.0      51.57               6.5       Clicked  0.1  1/29/2019

       Offline_Spend  Online_Spend  Month Coupon_Code  Discount_pct
0             4500.0       2424.50      1      ELEC10          10.0
1             4500.0       2424.50      1      ELEC10          10.0
2             4500.0       2424.50      1      ELEC10          10.0
3             4500.0       2424.50      1      ELEC10          10.0
4             4500.0       2424.50      1      ELEC10          10.0
...              ...           ...    ...         ...           ...
4058          3000.0        640.93      1       AND10          10.0
4059          1000.0       1124.95      1       AND10          10.0
4060          5000.0       3287.83      1       AND10          10.0
4061          5000.0       1920.57      1       AND10          10.0
52914          700.0        836.13      1       ACC10          10.0

[4063 rows x 21 columns]

In [34]:
#9) extract specific colums after flitering

male_products= df[df['Gender'] == 'M'] [['CustomerID', 'Product_Description', 'Quantity']]
print(male_products)

       CustomerID                                Product_Description  Quantity
0         17850.0  Nest Learning Thermostat 3rd Gen-USA - Stainle...       1.0
1         17850.0  Nest Learning Thermostat 3rd Gen-USA - Stainle...       1.0
2         17850.0             Nest Cam Outdoor Security Camera - USA       2.0
3         17850.0    Nest Protect Smoke + CO White Battery Alarm-USA       1.0
4         17850.0  Nest Learning Thermostat 3rd Gen-USA - Stainle...       1.0
...           ...                                                ...       ...
52917     15002.0                                 Gift Card - $25.00       1.0
52918     15002.0                                 Gift Card - $25.00       1.0
52920     18077.0                                 Gift Card - $25.00       1.0
52921     16085.0                  Google Leather Perforated Journal       1.0
52922     16085.0                      Google Spiral Leather Journal       1.0

[19917 rows x 3 columns]

In [36]:
# #10) Filter top N values using nlargest
# top_online_spend = df.nlargest(5, 'Online_Spend')
# print(top_online_spend)

top_online_spend = df.sort_values('Online_Spend', ascending = False).head(5)
print(top_online_spend)

       Unnamed: 0  CustomerID Gender    Location  Tenure_Months  \
27039       27039     17621.0      M  California           25.0
27007       27007     14688.0      F    New York           46.0
30124       30124     14688.0      F    New York           46.0
27012       27012     14688.0      F    New York           46.0
27011       27011     14688.0      F    New York           46.0

       Transaction_ID Transaction_Date     Product_SKU  \
27039         45136.0       2019-11-29  GGOENEBQ078999
27007         45097.0       2019-11-29  GGOENEBJ079499
30124         45105.0       2019-11-29  GGOENEBQ086799
27012         45107.0       2019-11-29  GGOENEBQ079199
27011         45106.0       2019-11-29  GGOENEBJ079499

                                     Product_Description Product_Category  \
27039             Nest Cam Outdoor Security Camera - USA         Nest-USA
27007  Nest Learning Thermostat 3rd Gen-USA - Stainle...         Nest-USA
30124                            Nest Thermostat E - USA             Nest
27012      Nest Protect Smoke + CO White Wired Alarm-USA         Nest-USA
27011  Nest Learning Thermostat 3rd Gen-USA - Stainle...         Nest-USA

       Quantity  Avg_Price  Delivery_Charges Coupon_Status   GST        Date  \
27039       3.0      119.0               6.5       Clicked  0.10  11/29/2019
27007       1.0      149.0               6.5       Clicked  0.10  11/29/2019
30124       1.0       99.0               6.5      Not Used  0.05  11/29/2019
27012       5.0       79.0               6.5       Clicked  0.10  11/29/2019
27011       1.0      149.0               6.5          Used  0.10  11/29/2019

       Offline_Spend  Online_Spend  Month Coupon_Code  Discount_pct
27039         3000.0       4556.93     11      ELEC20          20.0
27007         3000.0       4556.93     11      ELEC20          20.0
30124         3000.0       4556.93     11        NE20          20.0
27012         3000.0       4556.93     11      ELEC20          20.0
27011         3000.0       4556.93     11      ELEC20          20.0

In [39]:
# Filter columns with startwith / endwith - safe for NaNs
# electronic_products = df[df['Product_Description'].str.startswith('Nest', na = False)]
# print(electronic_products)

electronic_products = df[df['Product_Description'].str.endswith('USA', na = False)]
print(electronic_products)

       Unnamed: 0  CustomerID Gender  Location  Tenure_Months  Transaction_ID  \
2               2     17850.0      M   Chicago           12.0         16696.0
3               3     17850.0      M   Chicago           12.0         16699.0
7               7     17850.0      M   Chicago           12.0         16703.0
10             10     17850.0      M   Chicago           12.0         16713.0
13             13     17850.0      M   Chicago           12.0         16720.0
...           ...         ...    ...       ...            ...             ...
51906       51906     16222.0      F  New York           45.0         41653.0
51907       51907     16222.0      F  New York           45.0         41675.0
51908       51908     16222.0      F  New York           45.0         41681.0
51909       51909     16222.0      F  New York           45.0         41714.0
51910       51910     16222.0      F  New York           45.0         41718.0

      Transaction_Date     Product_SKU  \
2           2019-01-01  GGOENEBQ078999
3           2019-01-01  GGOENEBQ079099
7           2019-01-01  GGOENEBQ079099
10          2019-01-01  GGOENEBQ078999
13          2019-01-01  GGOENEBQ078999
...                ...             ...
51906       2019-10-25  GGOENEBQ086799
51907       2019-10-25  GGOENEBQ086499
51908       2019-10-25  GGOENEBQ086499
51909       2019-10-25  GGOENEBQ086799
51910       2019-10-25  GGOENEBQ086499

                                   Product_Description Product_Category  \
2               Nest Cam Outdoor Security Camera - USA         Nest-USA
3      Nest Protect Smoke + CO White Battery Alarm-USA         Nest-USA
7      Nest Protect Smoke + CO White Battery Alarm-USA         Nest-USA
10              Nest Cam Outdoor Security Camera - USA         Nest-USA
13              Nest Cam Outdoor Security Camera - USA         Nest-USA
...                                                ...              ...
51906                          Nest Thermostat E - USA             Nest
51907                                Nest Cam IQ - USA             Nest
51908                                Nest Cam IQ - USA             Nest
51909                          Nest Thermostat E - USA             Nest
51910                                Nest Cam IQ - USA             Nest

       Quantity  Avg_Price  Delivery_Charges Coupon_Status   GST        Date  \
2           2.0     122.77               6.5      Not Used  0.10    1/1/2019
3           1.0      81.50               6.5       Clicked  0.10    1/1/2019
7           2.0      81.50               6.5      Not Used  0.10    1/1/2019
10          1.0     122.77               6.5          Used  0.10    1/1/2019
13          1.0     122.77               6.5       Clicked  0.10    1/1/2019
...         ...        ...               ...           ...   ...         ...
51906       1.0      99.00               6.0       Clicked  0.05  10/25/2019
51907       1.0     199.00               6.0      Not Used  0.05  10/25/2019
51908       1.0     199.00               6.0          Used  0.05  10/25/2019
51909       1.0      99.00               6.0      Not Used  0.05  10/25/2019
51910       1.0     199.00               6.0       Clicked  0.05  10/25/2019

       Offline_Spend  Online_Spend  Month Coupon_Code  Discount_pct
2             4500.0       2424.50      1      ELEC10          10.0
3             4500.0       2424.50      1      ELEC10          10.0
7             4500.0       2424.50      1      ELEC10          10.0
10            4500.0       2424.50      1      ELEC10          10.0
13            4500.0       2424.50      1      ELEC10          10.0
...              ...           ...    ...         ...           ...
51906         3500.0       1416.14     10        NE10          10.0
51907         3500.0       1416.14     10        NE10          10.0
51908         3500.0       1416.14     10        NE10          10.0
51909         3500.0       1416.14     10        NE10          10.0
51910         3500.0       1416.14     10        NE10          10.0

[11056 rows x 21 columns]

In [42]:
#12) Group-based filtering
customers_total_online = df.groupby('CustomerID')['Online_Spend'].sum()
# print(customers_total_online)
high_spender = customers_total_online[customers_total_online>5000]
print(high_spender)

CustomerID
12346.0      5093.34
12347.0    127339.54
12348.0     47477.33
12350.0     58383.27
12356.0     91680.12
             ...
18256.0      8412.52
18259.0     16398.76
18260.0     95583.17
18269.0     17418.35
18283.0    243910.11
Name: Online_Spend, Length: 1334, dtype: float64