Probability Based Sampling

In [5]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [4]:
# 1. Read each CSV file into a separate DataFrame
df_2015 = pd.read_csv('DataSets/marathon_results_2015.csv')
df_2016 = pd.read_csv('DataSets/marathon_results_2016.csv')
df_2017 = pd.read_csv('DataSets/marathon_results_2017.csv')

# 2. Concatenate the DataFrames by passing them in a list
df = pd.concat([df_2015, df_2016, df_2017], ignore_index=True)

# 3. Display the head of the combined DataFrame
print(df.head())
df.shape

   Unnamed: 0 Bib                   Name  Age M/F         City State Country  \
0         0.0   3         Desisa, Lelisa   25   M         Ambo   NaN     ETH
1         1.0   4  Tsegay, Yemane Adhane   30   M  Addis Ababa   NaN     ETH
2         2.0   8         Chebet, Wilson   29   M     Marakwet   NaN     KEN
3         3.0  11       Kipyego, Bernard   28   M      Eldoret   NaN     KEN
4         4.0  10          Korir, Wesley   32   M       Kitale   NaN     KEN

  Citizen Unnamed: 9  ...      30K      35K      40K     Pace Proj Time  \
0     NaN        NaN  ...  1:32:00  1:47:59  2:02:39  0:04:56         -
1     NaN        NaN  ...  1:31:59  1:47:59  2:02:42  0:04:58         -
2     NaN        NaN  ...  1:32:00  1:47:59  2:03:01  0:04:59         -
3     NaN        NaN  ...  1:32:00  1:48:03  2:03:47  0:05:00         -
4     NaN        NaN  ...  1:32:00  1:47:59  2:03:27  0:05:00         -

  Official Time Overall Gender Division Unnamed: 8
0       2:09:17       1      1        1        NaN
1       2:09:48       2      2        2        NaN
2       2:10:22       3      3        3        NaN
3       2:10:47       4      4        4        NaN
4       2:10:49       5      5        5        NaN

[5 rows x 26 columns]

(79638, 26)

In [ ]:
#simple sampling method (select 10% of record randomly)
sample_df = df.sample(frac=0.1, random_state=42) #frac 0.1 for getting 10% data and randon_state to keep random data fix
print("Sample data shape: ",sample_df.shape)
print("Population Data shape: ",df.shape)

Sample data shape:  (7964, 26)
Population Data Set:  (79638, 26)

In [ ]:
#Systematic Ramdom Sampling Method
sample_df1 = df.iloc[::7, :] #df.iloc[row_indexer(start:end:step), column_indexer(start:end:step)]
print("Sample data shape: ",sample_df1.shape)
print("Population Data shape: ",df.shape)

Sample data shape:  (11377, 26)
Population Data shape:  (79638, 26)

In [18]:
#Strtified Random sampling
total_male = len(df[df['M/F']=='M'])
total_female = len(df[df['M/F']=='F'])

sample_size = int(0.1*df.shape[0])
sample_male = int(0.1*total_male)
sample_female = int(0.1*total_female)

print(sample_size,sample_male, sample_female)

#genrate proportion samples of male and female
male_sample = df[df['M/F']=='M'].sample(n=sample_male, random_state=42)
female_sample = df[df['M/F']=='F'].sample(n=sample_female,random_state=42)
print("Lenths of male and female: ",len(male_sample), len(female_sample))


#combine male and female sample in single frame

sample_df2 = pd.concat([male_sample,female_sample])
sample_row_count = len(sample_df2)
print(sample_df2.head())
print("length of sample: ",sample_row_count)

7963 4348 3615
Lenths of male and female:  4348 3615
       Unnamed: 0    Bib                Name  Age M/F           City State  \
70392     17164.0   5919   Pucci, Ferdinando   36   M         Quincy    MA
49621         NaN  28464     Burns, Shawn M.   44   M       Pembroke    MA
28929         NaN   2338       Sauvola, Lars   41   M         Rindge    NH
6577       6577.0   9603  Burns, Jonathan M.   47   M  Mechanicsburg    PA
17054     17054.0   5434      Benjamin, Elad   40   M        Raanana   NaN

      Country Citizen Unnamed: 9  ...      30K      35K      40K     Pace  \
70392     USA     NaN        NaN  ...  2:23:12  3:00:12  3:46:17  0:09:27
49621     USA     NaN        NaN  ...  3:10:08  3:48:26  4:25:25  0:10:46
28929     USA     NaN        NaN  ...  2:10:14  2:33:48  2:56:56  0:07:08
6577      USA     NaN        NaN  ...  2:16:58  2:41:11  3:06:37  0:07:34
17054     ISR     NaN        NaN  ...  2:40:03  3:08:50  3:38:39  0:08:52

      Proj Time Official Time Overall Gender Division Unnamed: 8
70392         -       4:07:27   17166  10390     3796        NaN
49621   4:41:59       4:41:59   23023  12863     1835        NaN
28929   3:06:43       3:06:43    2332   2154      335        NaN
6577          -       3:18:23    6578   5654      850        NaN
17054         -       3:52:28   17055  10576     1657        NaN

[5 rows x 26 columns]
length of sample:  7963

In [19]:
#cluster Smapling : find unqiue countries the athelets are from

unique_countries = df['Country'].unique()
num_coutry = len(unique_countries)
print(unique_countries,num_coutry)

#randomly select half othe country
np.random.seed(42)
selected_country = np.random.choice(unique_countries, size=num_coutry//2, replace=False)
#choice select random values , replce false dont allow repeact of values
print("selected countries: ", selected_country)

#create new df that contains record of selected countries only
sample_df3 = df[df['Country'].isin(selected_country)]
sample_row_count = len(sample_df3)
print("length od sample df: ",sample_row_count)
sample_df3.head

['ETH' 'KEN' 'USA' 'UKR' 'RSA' 'ITA' 'RUS' 'JPN' 'CAN' 'BEL' 'NZL' 'BLR'
 'AUS' 'GBR' 'CRO' 'ECU' 'GER' 'ESP' 'SWE' 'BRA' 'HKG' 'MEX' 'DEN' 'MAS'
 'IRL' 'ISL' 'CHI' 'GUA' 'FIN' 'SVK' 'COL' 'SUI' 'CHN' 'AUT' 'NED' 'FRA'
 'CRC' 'CYP' 'POL' 'NOR' 'KOR' 'POR' 'TPE' 'PER' 'SIN' 'PAN' 'VEN' 'LUX'
 'CZE' 'VIE' 'MAR' 'BER' 'ROU' 'IND' 'LIE' 'ARG' 'ESA' 'DOM' 'ISR' 'GRE'
 'SLO' 'LTU' 'URU' 'CAY' 'EST' 'JAM' 'UAE' 'VGB' 'TUR' 'LAT' 'AND' 'OMA'
 'BAH' 'TRI' 'INA' 'AHO' 'PHI' 'UGA' 'QAT' 'ZIM' 'TWN' 'HON' 'FLK' 'HUN'
 'JOR' 'ALB' 'SRB' 'PAK' 'BRN' 'BDI' 'EGY' 'THA' 'MLT' 'KSA' 'SMR' 'BUL'
 'ALG' 'NCA' 'BAR' 'GRN' 'PAR' 'TCA' 'KUW' 'MGL' 'NGR'] 105
selected countries:  ['COL' 'JAM' 'EST' 'IND' 'PAN' 'SMR' 'NGR' 'LUX' 'NZL' 'ETH' 'SWE' 'SUI'
 'BDI' 'ALG' 'UGA' 'RSA' 'TWN' 'AUT' 'AUS' 'CHI' 'GRN' 'ARG' 'DEN' 'PHI'
 'SIN' 'BAH' 'ECU' 'TPE' 'KOR' 'BEL' 'ALB' 'BLR' 'MGL' 'QAT' 'FIN' 'ZIM'
 'ITA' 'URU' 'ESA' 'NOR' 'FRA' 'GER' 'UAE' 'NED' 'JPN' 'PER' 'TUR' 'LAT'
 'GUA' 'BRA' 'JOR' 'ISL']
length od sample df:  5331

<bound method NDFrame.head of        Unnamed: 0    Bib                   Name  Age M/F               City  \
0             0.0      3         Desisa, Lelisa   25   M               Ambo
1             1.0      4  Tsegay, Yemane Adhane   30   M        Addis Ababa
8             8.0      5           Tola, Tadese   27   M        Addis Ababa
12           12.0     15         April, Lusapho   32   M          Uitenhage
14           14.0     76          Goffi, Danilo   42   M  Parabiago - Milan
...           ...    ...                    ...  ...  ..                ...
79509     26281.0  16005       Luzza, Nicole J.   37   F          Melbourne
79543     26315.0  30633          Verrept, Marc   61   M            Berchem
79615     26387.0  23458     Pulido, Jose I Sr.   66   M             Bogota
79619     26391.0   6893          Ueda, Akifumi   58   M         Himeji-Shi
79623     26395.0   4631         Choon Hon, Lim   33   M          Singapore

      State Country Citizen Unnamed: 9  ...      30K      35K      40K  \
0       NaN     ETH     NaN        NaN  ...  1:32:00  1:47:59  2:02:39
1       NaN     ETH     NaN        NaN  ...  1:31:59  1:47:59  2:02:42
8       NaN     ETH     NaN        NaN  ...  1:32:00  1:48:00  2:04:39
12      NaN     RSA     NaN        NaN  ...  1:32:00  1:48:07  2:06:50
14      NaN     ITA     NaN        NaN  ...  1:38:02  1:54:55  2:11:25
...     ...     ...     ...        ...  ...      ...      ...      ...
79509   NaN     AUS     NaN        NaN  ...  4:15:48  4:56:43  5:44:28
79543   NaN     BEL     NaN        NaN  ...  3:47:31  4:43:09  5:39:52
79615   NaN     COL     NaN        NaN  ...  4:05:10  5:01:15  5:52:45
79619   NaN     JPN     NaN        NaN  ...  4:04:39  5:00:22  5:56:59
79623   NaN     SIN     NaN        NaN  ...  4:34:10  5:22:42  6:11:55

          Pace Proj Time Official Time Overall Gender Division Unnamed: 8
0      0:04:56         -       2:09:17       1      1        1        NaN
1      0:04:58         -       2:09:48       2      2        2        NaN
8      0:05:06         -       2:13:35       9      9        9        NaN
12     0:05:13         -       2:16:25      13     13       13        NaN
14     0:05:18         -       2:18:44      15     15        1        NaN
...        ...       ...           ...     ...    ...      ...        ...
79509  0:13:44         -       5:59:57   26283  11897     5815        NaN
79543  0:13:49         -       6:02:09   26317  14391     1041        NaN
79615  0:14:23         -       6:16:50   26389  14420      424        NaN
79619  0:14:39         -       6:24:03   26393  14424     1537        NaN
79623  0:15:11         -       6:37:48   26397  14428     4769        NaN

[5331 rows x 26 columns]>