Exercise

Go through the titanic dataset and either use Python or Excel to find the following:

1. Probability that a passenger dies (Marginal probability)

2. Probability that a passenger was male and survived (Joint probability of independent events)

3. Probability that a passenger survived given that she was a female (Conditional probability or Joint probability of dependent events)

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv('Datasets/titanic.csv')
df.head()

   survived  pclass  gender   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [3]:
survived_count = len(df[df['survived']==0])
total_count = len(df)
print("probability of survived: ",np.round((survived_count/total_count)*100),2,"%")

probability of survived:  62.0 2 %

In [15]:
male_survived = len(df[(df['gender']== 'male') & (df['survived']==1)])
print(male_survived)
print("probability of male_survived: ",np.round((male_survived/total_count)*100),2,"%")

109
probability of male_survived:  12.0 2 %

In [5]:
female_survived = len(df[(df['gender']== 'female') & (df['survived']==1)])
female_probablity = len(df[df['gender']=='female'])/len(df)
female_survived_probablity = female_survived/len(df[df['gender']=='female'])
print("probability of female_survived: ",np.round((female_survived_probablity*100),2),'%')

probability of female_survived:  74.2 %