In [1]:
#Scaling example
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [2]:
df = pd.read_csv('DataSets/tips.csv')
total_bill = df[['total_bill']]
df.head()

,total_bill,tip,gender,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3.560330e+15,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4.478070e+15,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6.011810e+15,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4.676140e+15,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4.832730e+15,Sun2251

In [5]:
#1.Stander Scaling
stander_scaling = StandardScaler()
df['total_bill_stander_scaled'] = stander_scaling.fit_transform(total_bill)
df.head()

,total_bill,tip,gender,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,total_bill_stander_scaled
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3.560330e+15,Sun2959,-0.314711
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4.478070e+15,Sun4608,-1.063235
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6.011810e+15,Sun4458,0.137780
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4.676140e+15,Sun5260,0.438315
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4.832730e+15,Sun2251,0.540745

In [6]:
#2. Min-max Scaling
minmax_scaler = MinMaxScaler()
df['total_bill_minmax_scaled'] = minmax_scaler.fit_transform(total_bill)
df.head()

,total_bill,tip,gender,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,total_bill_stander_scaled,total_bill_minmax_scaled
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3.560330e+15,Sun2959,-0.314711,0.291579
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4.478070e+15,Sun4608,-1.063235,0.152283
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6.011810e+15,Sun4458,0.137780,0.375786
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4.676140e+15,Sun5260,0.438315,0.431713
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4.832730e+15,Sun2251,0.540745,0.450775

In [8]:
pd.set_option('display.max_columns', None)
print(df[['total_bill', 'total_bill_stander_scaled', 'total_bill_minmax_scaled']].head(10))
pd.reset_option('display.max_columns')

   total_bill  total_bill_stander_scaled  total_bill_minmax_scaled
0       16.99                  -0.314711                  0.291579
1       10.34                  -1.063235                  0.152283
2       21.01                   0.137780                  0.375786
3       23.68                   0.438315                  0.431713
4       24.59                   0.540745                  0.450775
5       25.29                   0.619537                  0.465438
6        8.77                  -1.239955                  0.119397
7       26.88                   0.798507                  0.498743
8       15.04                  -0.534203                  0.250733
9       14.78                  -0.563469                  0.245287

In [10]:
#Encoding
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
df = pd.read_csv("DataSets/tips.csv")
print("Original 'day' coloumn:\n ", df['day'].head())

Original 'day' coloumn:
  0    Sun
1    Sun
2    Sun
3    Sun
4    Sun
Name: day, dtype: object

In [13]:
#1 one hot encoding
ohe = OneHotEncoder(sparse_output=False, drop=None)
ohe_array = ohe.fit_transform(df[['day']])

In [14]:
#oloumn names created by OneHotEncoder
ohe_cols = ohe.get_feature_names_out(['day'])
#Create new dataframe woth ohe coloumns
df_ohe = df.join(pd.DataFrame(ohe_array, columns = ohe_cols, index=df.index))

In [15]:
print("One hot encoding :", df_ohe[ohe_cols].head())
print("One hot Encoding: ", df_ohe[ohe_cols].tail())

One hot encoding :    day_Fri  day_Sat  day_Sun  day_Thur
0      0.0      0.0      1.0       0.0
1      0.0      0.0      1.0       0.0
2      0.0      0.0      1.0       0.0
3      0.0      0.0      1.0       0.0
4      0.0      0.0      1.0       0.0
One hot Encoding:       day_Fri  day_Sat  day_Sun  day_Thur
239      0.0      1.0      0.0       0.0
240      0.0      1.0      0.0       0.0
241      0.0      1.0      0.0       0.0
242      0.0      1.0      0.0       0.0
243      0.0      0.0      0.0       1.0

In [17]:
ohe_drop = OneHotEncoder(sparse_output=False, drop='first')
ohe_array2 = ohe_drop.fit_transform(df[['day']])
ohe_cols2 = ohe_drop.get_feature_names_out(['day'])
df_ohe2 = df.join(pd.DataFrame(ohe_array2, columns = ohe_cols2, index=df.index))
print(df_ohe2[ohe_cols2].head())
print(df_ohe2[ohe_cols2].tail())

   day_Sat  day_Sun  day_Thur
0      0.0      1.0       0.0
1      0.0      1.0       0.0
2      0.0      1.0       0.0
3      0.0      1.0       0.0
4      0.0      1.0       0.0
     day_Sat  day_Sun  day_Thur
239      1.0      0.0       0.0
240      1.0      0.0       0.0
241      1.0      0.0       0.0
242      1.0      0.0       0.0
243      0.0      0.0       1.0

In [18]:
#2 lable encoding
label_encoder = LabelEncoder()
df['day_label'] = label_encoder.fit_transform(df['day'])
print(df_ohe2[ohe_cols2].head())
print(df_ohe2[ohe_cols2].tail())

   day_Sat  day_Sun  day_Thur
0      0.0      1.0       0.0
1      0.0      1.0       0.0
2      0.0      1.0       0.0
3      0.0      1.0       0.0
4      0.0      1.0       0.0
     day_Sat  day_Sun  day_Thur
239      1.0      0.0       0.0
240      1.0      0.0       0.0
241      1.0      0.0       0.0
242      1.0      0.0       0.0
243      0.0      0.0       1.0

In [ ]:
#3. frequency encoding
day_freq = df['day'].value_counts(normalize = False)
df['day_freq'] = df['day'] #incompleate