In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [2]:
df = pd.read_csv('DataSets/titanic.csv')
df.head()

   survived  pclass  gender   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [20]:
df = df.dropna()

df = df.drop('embarked', axis=1)
df.head()

    survived  pclass  gender   age  sibsp  parch     fare
1          1       1       0  38.0      1      0  71.2833
3          1       1       0  35.0      1      0  53.1000
6          0       1       1  54.0      0      0  51.8625
10         1       3       0   4.0      1      1  16.7000
11         1       1       0  58.0      0      0  26.5500

In [22]:
le = LabelEncoder()
df['gender'] = le.fit_transform(df['gender'])
df.drop()

X = df.drop('survived', axis = 1)
y = df['survived']

ValueError: Need to specify at least one of 'labels', 'index' or 'columns'

In [21]:
# cheking class distribution before smoth
print("cheking class distribution before smoth:",y.value_counts())

#spliting data
X_train, x_test, y_train, y_test = train_test_split(X, y, train_size=0.3, random_state=42, stratify=y)

model = LogisticRegression(max_iter=500)
model.fit(X_train, y_train)

cheking class distribution before smoth: survived
1    123
0     59
Name: count, dtype: int64

ValueError: could not convert string to float: 'C'

In [ ]:
%pip install imbalanced-learn
from imblearn.over_sampling import SMOTE