Assignment:

1.For the three combined Marathon datasets, extract the top 25 records with lowest finish time (Official Time column). Check the null hypothesis HO = The average finishing time of the top 25 athletes is 130 minutes. Test it for a = 1%, 5%, and 10%.(Yet to do)

2.Assignment: For combined marathon dataset, find if younger (age <= 30) and older (age > 30) atheletes have a similar pace 
(H0: there is no statistically signigficant diffrence between the pace of the younger and older atheletes)

3.for student performance.csv usonig anova find if there is a significant difference in maths marks depending on the level of parental education

In [10]:
import pandas as pd
from scipy import stats

In [31]:
#2
df1 = pd.read_csv('DataSets/marathon_results_2015.csv')
df2 = pd.read_csv('DataSets/marathon_results_2016.csv')
df3  = pd.read_csv('DataSets/marathon_results_2017.csv')

df = pd.concat([df1, df2, df3], ignore_index=True)
df.head()

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 9,...,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division,Unnamed: 8
0,0.0,3,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,NaN,NaN,...,1:32:00,1:47:59,2:02:39,0:04:56,-,2:09:17,1,1,1,NaN
1,1.0,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,NaN,NaN,...,1:31:59,1:47:59,2:02:42,0:04:58,-,2:09:48,2,2,2,NaN
2,2.0,8,"Chebet, Wilson",29,M,Marakwet,NaN,KEN,NaN,NaN,...,1:32:00,1:47:59,2:03:01,0:04:59,-,2:10:22,3,3,3,NaN
3,3.0,11,"Kipyego, Bernard",28,M,Eldoret,NaN,KEN,NaN,NaN,...,1:32:00,1:48:03,2:03:47,0:05:00,-,2:10:47,4,4,4,NaN
4,4.0,10,"Korir, Wesley",32,M,Kitale,NaN,KEN,NaN,NaN,...,1:32:00,1:47:59,2:03:27,0:05:00,-,2:10:49,5,5,5,NaN

In [32]:
#H0 = Younger age and older age runners have similar  no  difference in avg space

df[['Hrs', 'Mins', 'Sec']] = df['Pace'].str.split(':', expand=True)

# normalize & convert to integers safely
for col in ['Hrs', 'Mins', 'Sec']:
    df[col] = pd.to_numeric(df[col].astype(str).str.strip(), errors='coerce').fillna(0).astype(int)

# compute seconds
df['Pace_in_sec'] = df['Hrs']*3600 + df['Mins']*60 + df['Sec']

younger_age = df[df['Age']<=30]['Pace_in_sec'].dropna().sample(n=50, replace=False)
older_age = df[df['Age']>30]['Pace_in_sec'].dropna().sample(n=50, replace=False)

t_statistic, p_value = stats.ttest_ind(younger_age, older_age)
alpha = 0.05
print("p_value: ", p_value)

if p_value < alpha:
    print("Reject H0")
else:
    print("Do not Reject H0")

p_value:  0.9416963546429575
Do not Reject H0

In [33]:
#3
#H0: parantal education not effects on childs math marks
df = pd.read_csv('DataSets/StudentsPerformance.csv')
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [34]:
print(df['parental level of education'].unique())

["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']

In [35]:
bachelor_degree = df[df['parental level of education'] == "bachelor's degree"]['math score']
some_college = df[df['parental level of education'] == "some college"]['math score']
master_degree = df[df['parental level of education'] == "master's degree"]['math score']
associate_degree = df[df['parental level of education'] == "associate's degree"]['math score']
high_school = df[df['parental level of education'] == "high school"]['math score']
some_high_school = df[df['parental level of education'] == "some high school"]['math score']

fstat, p_value = stats.f_oneway(bachelor_degree, some_college, master_degree, associate_degree, high_school, some_high_school)
print("P-value: ",p_value)

alpha = 0.05
if p_value > alpha:
    print("Do not reject H0")
else:
    print("Reject H0")

P-value:  5.592272384107223e-06
Reject H0