In [1]:
import pandas as pd
from scipy import stats

In [2]:
df = pd.read_csv("DataSets/Mall_Customers.csv")
df.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [ ]:
#One Sample T-test
age_data = df['Age']
age_data = age_data.sample(n=30, replace=False)

pop_avg_age = 40 #H0: Mall customers are of avg age is 40

t_statists, p_value = stats.ttest_1samp(age_data, pop_avg_age)
print("P-value: ", p_value)

alpha = 0.05
if p_value > alpha:
    print("Do not reject H0")
else:
    print("Reject H0")

P-value:  0.5794223966663283
Do not reject H0

In [4]:
#Two Sample T-test
data = pd.read_csv('DataSets/Mall_Customers.csv')
data.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [6]:
male_spending = data[data['Genre'] == 'Male' ]['Spending Score (1-100)'].sample(n=30,replace=False)
female_spending = data[data['Genre'] == 'Male' ]['Spending Score (1-100)'].sample(n=30, replace=False)

t_statists, p_value = stats.ttest_ind(male_spending, female_spending)
alpha = 0.05

print("P-value: ",p_value)

if p_value > alpha:
    print("Do not reject H0")
else:
    print("Reject H0")

P-value:  0.6530682475874745
Do not reject H0

In [10]:
#Paired Sample T_test

#paired t-test: A company has launched some offers
#H0: Pre and post usage is same (i.e. offers is not effective)

from scipy.stats import ttest_rel
import pandas as pd

df = pd.read_csv('DataSets/cust_seg.csv')
df.head()

usage_data = df[["pre_usage","Post_usage_1month"]].sample(n=30)

tstat,p_value = ttest_rel(usage_data['pre_usage'], usage_data['Post_usage_1month'])

alpha = 0.05

print("P-value: ",p_value)

if p_value > alpha:
    print("Do not reject H0")
else:
    print("Reject H0")

P-value:  0.9831137113547406
Do not reject H0

In [11]:
#ANOVA
df = pd.read_csv('DataSets/cust_seg.csv')
df.head()

,custid,sex,AqChannel,region,Marital_status,segment,pre_usage,Post_usage_1month,Latest_mon_usage,post_usage_2ndmonth
0,70,0,4,1,1,1,57,52,49.2,57.2
1,121,1,4,2,1,3,68,59,63.6,64.9
2,86,0,4,3,1,1,44,33,64.8,36.3
3,141,0,4,3,1,3,63,44,56.4,48.4
4,172,0,4,2,1,2,47,52,68.4,57.2

In [12]:
s1 = df.Latest_mon_usage[df.segment == 1]
s2 = df.Latest_mon_usage[df.segment == 2]
s3 = df.Latest_mon_usage[df.segment == 3]

fstat, pval = stats.f_oneway(s1, s2, s3)
print("P-value: ",pval)
alpha = 0.05
if p_value > alpha:
    print("Do not reject H0")
else:
    print("Reject H0")

P-value:  7.36401083352675e-12
Do not reject H0

In [ ]:
#H0: parantal education not effects on childs math marks
df = pd.read_csv('DataSets/StudentsPerformance.csv')
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [14]:
print(df['parental level of education'].unique())

["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']

In [18]:
bachelor_degree = df[df['parental level of education'] == "bachelor's degree"]['math score']
some_college = df[df['parental level of education'] == "some college"]['math score']
master_degree = df[df['parental level of education'] == "master's degree"]['math score']
associate_degree = df[df['parental level of education'] == "associate's degree"]['math score']
high_school = df[df['parental level of education'] == "high school"]['math score']
some_high_school = df[df['parental level of education'] == "some high school"]['math score']

fstat, p_value = stats.f_oneway(bachelor_degree, some_college, master_degree, associate_degree, high_school, some_high_school)
print("P-value: ",p_value)

alpha = 0.05
if p_value > alpha:
    print("Do not reject H0")
else:
    print("Reject H0")

P-value:  5.592272384107223e-06
Reject H0

In [21]:
#Chi-Square Test
from scipy.stats import chi2_contingency

df = pd.read_csv('DataSets/titanic.csv')
df.head()

#create contingency table
contingency_table = pd.crosstab(df['pclass'], df['survived'])
print(contingency_table)

#perfrom chi-square test
chi2_stats,p_value,dof,expected = chi2_contingency(contingency_table)

print("Chi-square statistic: ",chi2_stats)
print("P-Value: ",p_value)
print("Degree of freedom: ", dof)

if p_value < 0.05:
    print("Reject H0")
else:
    print("Do not reject H0")

survived    0    1
pclass
1          80  136
2          97   87
3         372  119
Chi-square statistic:  102.88898875696056
P-Value:  4.549251711298793e-23
Degree of freedom:  2
Reject H0

In [26]:
#practice Question
df = pd.read_csv('DataSets/tips.csv')
df.head()

conti_table = pd.crosstab(df['gender'], df['smoker'])
print(conti_table)

#chi-squer test
# print(chi2_contingency(conti_table))
chi2_stats, p_value, dof, expected = chi2_contingency(conti_table)
print("chi2_stats: ",chi2_stats)
print("P-value: ", p_value)
print("DOF: ", dof)

smoker  No  Yes
gender
Female  54   33
Male    97   60
chi2_stats:  0.0
P-value:  1.0
DOF:  1

In [ ]:
#Consider Diabetes dataset and find relation of age with diabetes outcome.
#group age into 3 cat. young <30 middile 31-50 old>50